body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

title{
    text-align: center;
}
/*menu begin*/
.menu-top ul li{
    padding: 6px;
    list-style: none;
    display: inline-block;
    font-size:12px;
    color:#c4c4c4;
}

.menu-link{
    padding-left:31px;
    margin:0;
}

.menu-link li a{
   padding: 10px 15px;
    text-decoration: none;
    padding: 0px;
    display: block;
    color:#b9b9b9;
    font-weight: bold;
    font-size: 12px;
}

.menu-link li:hover{
    padding: 3px;
    background-color: rgba(227, 227, 227, 0.2);
}  

.links{    
    padding-left: 714px;
    display: inline-block;
    margin: 0;
}

.links-2{    
    position: absolute;
    display: inline-block;
    margin: 0;
}

.menu-lang  ul{
    position:absolute; 
    display: none;
    background-color:#fff; 
}
.menu-lang-2 a{
    top: 1px;
    font-size: 13px;
    right: 2px;
}
.menu-lang-2  ul{
    position:absolute; 
    display: none;
    background-color:#fff; 
}

 .menu-lang:hover ul, .menu-lang li.over ul{
    display: block;
}

.menu-lang-2:hover ul, .menu-lang-2 li.over ul{
    display: block;
    z-index: 10;
    background-color: rgba(227, 227, 227, 0.2)
}

.menu-lang ul li {
    border:1px solid #c0c0c0; 
    display:block; 
    width:150px;
}

.adjusts{
    padding-left: 47px;
    padding-bottom:0px;
}

.menu-lang-2 ul li {
    background-color: #cbd0d4;
    padding: 15px 20px;
    color: #484847;    
    display:block; 
    width:150px;
}

/* MENU DO HEADER */
.lists{
    right: 72px;
}

nav.menu ul {
    margin-top:14px; 
    padding: 0;    
}

nav.menu ul li {   
    display: inline-block;  
    margin-right: 8px;
}

nav.menu ul li a {
    position: relative;
    text-decoration: none;
    color:#6c757d;
    font-size: 13px;  
    font-weight:600;
    list-style: none;
}

.email-input::-webkit-input-placeholder{
    color: #FFFFFF;
    font-size: 15px;
}

.email-input::-moz-placeholder{
    color: #FFFFFF;
    font-size: 15px;
}

.search-bar{
    padding-left: 15px;
}

.logo{
    text-indent: -99999em;
    background: url("../images/DIG-0006-18-PERTO-HOME-LY_03.jpg")no-repeat;
    margin:6px 10px;
}

nav.menu li:hover{
    text-align: center;
    padding: 2px;
    background-color: lightgray;
}

/*MENU NEWS*/
.content-news {
    width: 100%;
    background: #f9f9f9;
    align-content: center;
}

.news-box div:hover, figure:hover{
    background-color: lightgray;
    cursor: pointer;
    color: white;
}

figure {
    background: #f9f9f9;
    align-content: center;
}

.materia-foto {
    margin-bottom: 1px;
    margin-top: 7px;
    padding-right: 0px;
}

.news-part{
    bottom: 10px;
}

.container-news h3{
    padding-right: 20px;
    font-size: 38px;
    color: #4278b6;
    font-style: italic;
    font-weight: 100;
    padding-top: 12px;
}

.container-news p{
    padding-top: 12px;
}

.container-news {
    align-items: center;
}

.container-load{
    font-style: italic;
    color:gray;
    font-size: 13px;
    text-align: center;

}

.news-box {
    padding: 2px 31px 0px 0px ;
}

.content-news {
    margin-bottom: 0px;
    min-height: 127px;
}

.row-news {
    display: flex;
    flex-wrap:nowrap;
    border-bottom: 2px lightblue solid;
}

.row-news:hover  {
    background-color: #f2f2f2;
    cursor: pointer;
    color:#fff;
}

.row-news span{
    font-weight: bold;
    font-size: 11px;
}

.content-news h3 {
    padding: 30px 0 10px 20px;
    font-size: 11px;
    font-weight:bold;
    color: black;
}

.content-news p{
    padding: 10px 0 10px 20px;
    font-size: 11px;
    color: #484847;
}

.content-news a{
    color: black;
    font-size:13px;
    text-decoration:none; 
}

.news-highlight{
    font-size: 15px;
    padding-bottom: 36px;
    color: #696868;
    text-transform: uppercase;
}

.load {
    background: transparent;
    border: solid 1px #ccc;
    width: 100%;
    padding: 5px 0;
    color: #ccc;
    margin: 25px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.load:hover {
    background-color: gray;
    color: #fff;
}

/*NEWSLETTER RODAPE*/
.bg-newsletter {
    width: 100%;
    height: 165px;
    background: url("../images/DIG-0006-18-PERTO-HOME-LY_25.png") no-repeat;
}

.email{
    font-weight: bold;
    color: white;
    padding-top: 35px;
}

.email-p{
    font-weight: bold;
    color: white;
    padding-top: 16px;
}

.form-newsletter .eml-input{
    padding-top: 60px;
}

.form-newsletter label {
    font-weight: bold;
    color: #fff;
    display: block;
    font-size: 13px;
}

.form-newsletter .email-input {
    background: transparent;
    border: 0;
    width: 365px;
    border-bottom: solid 1px white;
    color: white;
    outline: 0;
}

.form-newsletter .btn-send-register {
    align-content: center;
    background: white;
    color: #005ba9;
    text-transform: uppercase;
    padding: 2px 50px;
    font-size: 12px;
    border: 0;
    font-weight: 700;
    margin-left: -5px;
}

/*menu do foooter */
.menu-foot ul a{
    text-decoration: none;
    line-height:  1.42857px;
    color:#484847;
}

.menu-foot ul{
    list-style: none;
}

.menu-left-1{
    padding-left: 0px;
    display:block;
    float: left;
}

.menu-left-2{
    padding-right:133px;
    display:block;
    float: right;
}

.menu-foot h3{
    padding-left: 0px;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 900;
    padding-top:30px;
}

.menu-center-1{
    padding-left: 0px;
    padding-right: 35px;
    display:block;
    float: left;
}

.menu-center-2{    
    display:block;
    float: right;
}

.menu-right-1{
    padding-left: 16px;
    padding-right: 4px;
    display:block;
    float: left; 
}

.menu-right-2{    
    display:block;
    float: right;
}

.barrr{
    padding:2px;
}

.slick-prev{
    left: 25px;
    z-index: 9;
}

.slick-next{
    right: 25px;
    z-index: 9;
}
.head{
    background-color: white;
}
.navbar{
    display: none;
}


/* RESPONSIVO */
@media (max-width: 768px){
    .adjusts {
        display: none;
    }
    .materia-foto{
        text-align: center;
    }
    .news-box{
        padding:0;  
    }
    .content-news{
        margin:auto; 
        text-align: center;
    }
    .form-newsletter .email-input{
        width:64%;
        margin-bottom: 5px;
       
    }
    .form-newsletter .eml-input{
        padding-top:0;
    }
    .form-newsletter .btn-send-register{
        margin-left: 0;
        padding: 5px 52px;
    }
    .links{
        padding-left: 141px;
    }
    .email-p{
        padding-top: 0px;
    }
    .respon {
        text-align: center;
    }
    .respon label{
        display: none;
    }

    .menu-link {
        padding-left: 19px;
        margin: 0;
    }
    .email{
        padding: 0;
    }
    .letter{
        padding-top: 22px;
        text-align: justify;
        line-height: 10px;
        margin-bottom: 4px;
    }
    .letter h3{
        margin-top: 30px;
    }
    .navbar{
        display: inline-block;
    }
     .hidden-xs {
        display: none!important
    }
    .btn-outline-success{
        color: black;
        border-color:black ;
    }
}
@media (min-width: 992px)and (max-width: 1199px) {
    .hidden-md {
        display: none !important
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none!important
    }

}
@media (min-width: 776px) and (max-width:1198px ){
    .hidden-bug{
        display: none!important
    }
    .show-bug{
        display: inline-block!important
    }
}